body {
	min-height: 100vh;
	font-family: var(--main-font), sans-serif;
	background-color: var(--bg-color);
	color: var(--fore-color);
	transition: var(--transition-property-common),
		var(--transition-easing-ease-in-out), var(--transition-duration-300);
}

.container {
	width: var(--sizes-full);
	max-width: var(--sizes-3xl);
	padding: 0 var(--space-4);
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

hr {
	height: var(--sizes-0-5);
	background-color: var(--dark-300);
	border-radius: var(--radii-sm);
}
