.about {
	display: flex;
	flex-direction: column;
	gap: var(--space-8);
	width: var(--sizes-full);
	padding-bottom: var(--space-16);
}

.summary {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: var(--space-8);
	min-height: calc(100vh - var(--sizes-16));
}

.summary-biography {
	width: var(--sizes-full);
	text-align: center;

	& h2 {
		text-align: center;
		font-weight: var(--font-weight-bold);
		font-size: var(--fontSizes-3xl);
		margin-bottom: var(--space-3);

		@media (min-width: 768px) {
			font-size: var(--fontSizes-4xl);
		}

		@media (min-width: 1024px) {
			font-size: var(--fontSizes-5xl);
		}
	}

	img {
		--size: 150px;
		aspect-ratio: 16 / 9;
		height: var(--size);
		margin-bottom: var(--space-4);
		opacity: 0.9;

		@media (prefers-color-scheme: dark) {
			mask-image: linear-gradient(var(--dark-50) 60%, transparent);
		}

		@media (min-width: 640px) {
			--size: 200px;
		}
	}

	& p {
		text-align: center;
		text-wrap: balance;
	}
}

.summary-info {
	--column: 1;
	display: grid;
	grid-template-columns: repeat(var(--column), minmax(0, 1fr));
	gap: var(--space-4);
	width: var(--sizes-full);
	text-align: center;

	@media (min-width: 768px) {
		--column: 3;
	}
}

.summary-card {
	display: flex;
	flex-direction: column;
	gap: var(--space-3);
	align-items: center;

	& .summary-icon {
		font-size: var(--fontSizes-4xl);
	}

	& .summary-header {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: var(--fontSizes-lg);
		font-weight: var(--font-weight-semibold);
	}

	& p {
		font-style: italic;
		color: var(--dark-700);
	}

	& a:hover {
		transition: var(--transition-property-colors),
			var(--transition-easing-ease-in-out), var(--transition-duration-300);
		color: var(--primary-600);
	}
}

/* Education */
.education {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: var(--space-8);
	min-height: calc(100vh - var(--sizes-16));

	& h2 {
		text-align: center;
		font-weight: var(--font-weight-bold);
		font-size: var(--fontSizes-3xl);
		margin-bottom: var(--space-3);

		@media (min-width: 768px) {
			font-size: var(--fontSizes-4xl);
		}

		@media (min-width: 1024px) {
			font-size: var(--fontSizes-5xl);
		}
	}
}

.education-card {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: var(--space-5);
	padding: var(--space-5);
	background-color: var(--dark-50);
	border: 1px solid var(--dark-100);
	border-radius: var(--radii-lg);
	box-shadow: var(--shadow-md);
	transition: var(--transition-property-common),
		var(--transition-easing-ease-in-out), var(--transition-duration-300);

	@media (min-width: 768px) {
		flex-direction: row;
	}
}

.education-card-picture {
	& img {
		aspect-ratio: 16/9;
		object-fit: contain;
		height: var(--sizes-24);
		margin: 0;

		@media (prefers-color-scheme: light) {
			filter: invert(1);
		}

		@media (min-width: 640px) {
			margin: var(--space-3) 0;
		}

		@media (min-width: 768px) {
			height: var(--sizes-40);
		}
	}
}

.education-card-header {
	display: flex;
	flex-direction: column;
	gap: var(--space-2);

	& div {
		display: flex;
		flex-direction: column;
		gap: var(--space-1);

		@media (min-width: 640px) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 0;
		}
	}
}

.education-card-title {
	font-size: var(--fontSizes-xl);
	font-weight: var(--font-weight-semibold);
	color: var(--primary-600);

	@media (min-width: 640px) {
		font-size: var(--fontSizes-2xl);
	}
}

.education-card-date {
	font-size: var(--fontSizes-xs);
	color: var(--dark-700);

	@media (min-width: 640px) {
		font-size: var(--fontSizes-sm);
	}
}

.education-card-subtitle {
	font-size: var(--fontSizes-sm);
	font-style: italic;
	color: var(--yellow-400);

	@media (min-width: 640px) {
		font-size: var(--fontSizes-md);
	}

	@media (min-width: 1024px) {
		font-size: var(--fontSizes-lg);
	}
}

.education-card-description {
	font-size: var(--fontSizes-sm);
	color: var(--dark-800);
	text-wrap: pretty;
	margin: var(--space-3) 0;

	@media (min-width: 1024px) {
		font-size: var(--fontSizes-md);
	}
}

.education-card-footer {
	display: flex;
	flex-direction: column;
	gap: var(--space-2);

	& .education-card-text {
		font-size: var(--fontSizes-sm);
		font-weight: var(--font-weight-semibold);
		color: var(--dark-950);

		@media (min-width: 640px) {
			font-size: var(--fontSizes-md);
		}

		@media (min-width: 1024px) {
			font-size: var(--fontSizes-lg);
		}
	}

	& ul {
		& li {
			display: flex;
			align-items: center;
			gap: var(--space-2);
			font-size: var(--fontSizes-sm);
			padding-left: var(--space-2);
			color: var(--dark-950);

			&::before {
				content: "";
				display: block;
				width: var(--sizes-2);
				height: var(--sizes-2);
				border-radius: var(--radii-full);
				background: var(--primary-600);
			}
		}
	}
}
