.project {
	width: var(--sizes-full);
	padding: var(--space-8) var(--space-4) var(--space-10);
}

.project-gallery {
	--columns: 1;
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-8);
}
