---
import Skills from "@components/Skills.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import "./_index.css";
import Hero from "@components/Hero.astro";

const content = await import(`@markdown/about-me.md`);

const { Content } = content;

const title = "Puriihuaman";
const description = "Puriihuaman - Portafolio personal";
---

<BaseLayout title={title} description={description}>
  <section class="about">
    <Hero />

    <Content title={title} />

    <section class="container skills">
      <article class="card">
        <header class="card-header">
          <div class="card-icon">⚙</div>
          <h3>Tecnologías</h3>
        </header>
        <Skills />
      </article>
    </section>
  </section>
</BaseLayout>
