---
import BaseLayout from "@layouts/BaseLayout.astro";
import Layout from "@layouts/Layout.astro";

export function getStaticPaths() {
	return [
		{ params: { page: "about-me" } },
		{ params: { page: "education" } },
		{ params: { page: "my-goal" } },
	];
}

const { page } = Astro.params;
const content = await import(`@markdown/about-me.md`);

const { frontmatter, Content } = content;
// const { title, description } = frontmatter;

/* ---- */
const title = "Puriihuaman";
const description = "Puriihuaman - Portafolio personal";
---

<!-- <BaseLayout title={title} description={description} /> -->
<Layout title="Puriihuaman">
	<main>
		<section class="about">
			<Content />
		</section>
	</main>
</Layout>
