---
import Layout from "@layouts/Layout.astro";

import Loading from "@components/Loading.astro";
import ProjectCard from "@components/ProjectCard.astro";
import type { IRepository } from "@interfaces/IRepository";
import { fetchRepositories } from "@services/fetch-repositories";
import "./_project.scss";
import AlertMessage from "@components/AlertMessage.astro";

let technology: string = "todos";

const { repositories, hasError, isLoading, error } =
	await fetchRepositories(technology);
---

<Layout title="Proyectos - Puriihuaman">
	<main class="project">
		<div class="header">
			<h2 class="title">Proyectos</h2>
		</div>

		<hr />

		<div class="projects">
			<!-- <details id="dropdown-button" class="dropdown dropdown-button">
				<summary>
					<span class="dropdown-text">Technology</span>
					<span class="dropdown-icon"> ➕ </span>
				</summary>

				<ul class="content dropdown-option" id="dropdown-option">
					<li class="dropdown-item" data-tech="todos">Todos</li>

					{
						SKILLS_LIST.map((skill: ISkill) => (
							<li class="dropdown-item" data-skill={skill.tech}>
								{skill.tech}
							</li>
						))
					}
				</ul>
			</details> -->

			{isLoading && <Loading />}

			{error && <AlertMessage error={error} />}

			<div class="project-gallery">
				{
					repositories.map((repository: IRepository) => (
						<ProjectCard repository={repository} />
					))
				}
			</div>
		</div>
	</main>
</Layout>
