---
import AlertMessage from "@components/AlertMessage.astro";
import Loading from "@components/Loading.astro";
import ProjectCard from "@components/ProjectCard.astro";
import type { IRepository } from "@interfaces/IRepository";
import BaseLayout from "@layouts/BaseLayout.astro";
import { fetchRepositories } from "@services/fetch-repositories";
import "./_project.css";

let technology: string = "todos";

const { repositories, hasError, isLoading, error } =
	await fetchRepositories(technology);

const title = "Puriihuaman";
const description = "Proyectos";
---

<BaseLayout title={title} description={description}>
	<main class="project">
		<div class="header">
			<h2 class="title">Proyectos</h2>
		</div>

		<hr />

		<div class="projects">
			{isLoading && <Loading />}

			{error && <AlertMessage error={error} />}

			<div class="project-gallery">
				{
					repositories.map((repository: IRepository) => (
						<ProjectCard repository={repository} />
					))
				}
			</div>
		</div>
	</main>
</BaseLayout>
