---
import BaseLayout from "@layouts/BaseLayout.astro";

const content = await import("@markdown/service.md");

const title = "Puriihuaman";
const description = "Servicio";

const { Content } = content;
---

<BaseLayout title={title} description={description}>
	<section class="container services">
		<Content />
	</section>
</BaseLayout>
