---
import Layout from "@layouts/Layout.astro";

const content = await import("@markdown/service.md");

const { Content } = content;
---

<!-- Layout -->
<Layout title="Servicios - Puriihuaman">
	<main>
		<section class="services">
			<Content />
		</section>
	</main>
</Layout>
