---
import BaseLayout from "@layouts/BaseLayout.astro";

const content = await import("@markdown/service.md");

const title = "Puriihuaman";
const description = "Servicio";

const { Content } = content;
---

<BaseLayout title={title} description={description}>
	<main>
		<section class="services">
			<Content />
		</section>
	</main>
</BaseLayout>
