.alert {
	padding: var(--space-4);
	text-align: center;
	color: var(--red-500);
	box-shadow: var(--shadow-md);
	border: 1px solid currentColor;
	border-radius: var(--radii-md);
	text-wrap: balance;
	background-color: var(--red-900);

	// text-center p-4 text-pink-500 text-base shadow-md border border-current rounded-md text-balance bg-pink-900/20
}

.alert-title {
	margin-bottom: var(--space-2);

	// text-base mb-2
}

.alert-block {
	display: block;
	font-size: var(--fontSizes-xl);
	// text-xl block
}
