.alert {
	padding: var(--space-4);
	text-align: center;
	color: var(--red-500);
	box-shadow: var(--shadow-md);
	border: 1px solid currentColor;
	border-radius: var(--radii-md);
	text-wrap: balance;
	background-color: var(--red-50);
}

.alert-title {
	margin-bottom: var(--space-2);
}

.alert-block {
	font-size: var(--fontSizes-xl);
}
