.alert {
	text-align: center;
	padding: var(--space-4);
	color: var(--colors-red-400);
	font-size: var(--fontSizes-sm);
	box-shadow: var(--shadow-md);
	border: 1px solid currentColor;
	border-radius: var(--radii-md);
	background-color: var(--colors-red-950);
	text-wrap: balance;
	&__title {
		font-size: var(--fontSizes-md);
		margin-bottom: var(--space-2);
	}

	&__code {
		font-size: var(--fontSizes-xl);
		display: block;
	}
}
