---
interface Props {
  otherClass?: boolean;
}

import LinkButton from "./LinkButton.astro";
---

<div class="flex justify-center items-center gap-4 mt-3">
  <LinkButton
    href="https://drive.google.com/file/d/1tWEvwI_DwndsaO8sf9c-ED6hGLyFr_bQ/view?usp=sharing"
    iconId="cv"
    linkClass="cv"
    title="Curriculum"
  />

  <LinkButton
    href="https://www.linkedin.com/in/puriihuaman/"
    iconId="linkedin"
    linkClass="linkedin"
    title="LinkedIn"
  />

  <LinkButton
    href="https://github.com/puriihuaman"
    iconId="github"
    linkClass="github"
    title="GitHub"
  />
</div>
