---
import IconSvg from "@components/IconSvg.astro";
import LinkButton from "./LinkButton.astro";
---

<style>
	.contact {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: var(--space-4);
		margin-top: var(--space-8);
		text-transform: capitalize;
		font-family: var(--main-font);

		/* // font-sans flex justify-center items-center flex-wrap gap-4 mt-8 capitalize lg:justify-start */
	}
</style>

<div class="contact">
	<LinkButton
		href="https://www.linkedin.com/in/puriihuaman/"
		tech="Linkedin"
		iconId="linkedin"
		iconSize="xs"
		linkClass="linkedin"
	/>
	<!-- <a
		href="https://www.linkedin.com/in/puriihuaman/"
		target="_blank"
		rel="noopener"
		class="flex justify-center items-center gap-2 text-slate-50 fill-current bg-blue-500 py-2 px-3 border border-blue-500 rounded-md hover:text-blue-500 hover:bg-transparent hover:border-current transition-colors duration-300"
	>
		<IconSvg iconID="linkedin" iconSize="xs" />
		<span>linkedin</span>
	</a> -->

	<!-- <a
		href="https://github.com/puriihuaman"
		target="_blank"
		rel="noopener"
		class="flex justify-center items-center gap-2 text-slate-50 bg-slate-800 py-2 px-3 border border-slate-800 rounded-md hover:text-slate-50 hover:bg-transparent hover:border-current transition-colors duration-300"
	>
		<IconSvg iconID="github" iconSize="xs" />
		<span>Github</span>
	</a> -->

	<LinkButton
		href="https://github.com/puriihuaman"
		tech="Github"
		iconId="github"
		iconSize="xs"
		linkClass="github"
	/>
</div>
