---
interface Props {
	otherClass?: boolean;
}

import LinkButton from "./LinkButton.astro";
---

<style>
	.contact {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		flex-direction: row;
		gap: var(--space-2);
		text-transform: capitalize;
		font-family: var(--main-font);
	}
</style>

<div class="contact contact-header">
	<LinkButton
		href="https://www.linkedin.com/in/puriihuaman/"
		iconId="linkedin"
		linkClass="linkedin"
		title="LinkedIn"
	/>

	<LinkButton
		href="https://github.com/puriihuaman"
		iconId="github"
		linkClass="github"
		title="GitHub"
	/>
</div>
