---
import LinkButton from "./LinkButton.astro";
---

<style>
	.contact {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: var(--space-4);
		margin-top: var(--space-8);
		text-transform: capitalize;
		font-family: var(--main-font);
	}
</style>

<div class="contact">
	<LinkButton
		href="https://www.linkedin.com/in/puriihuaman/"
		tech="Linkedin"
		iconId="linkedin"
		iconSize="xs"
		linkClass="linkedin"
	/>

	<LinkButton
		href="https://github.com/puriihuaman"
		tech="Github"
		iconId="github"
		iconSize="xs"
		linkClass="github"
	/>
</div>
