---
import IconSvg from "@components/IconSvg.astro";
---

<div
	class="font-sans flex justify-center items-center flex-wrap gap-4 mt-8 capitalize lg:justify-start"
>
	<a
		href="https://www.linkedin.com/in/puriihuaman/"
		target="_blank"
		rel="noopener"
		class="flex justify-center items-center gap-2 text-slate-50 fill-current bg-blue-500 py-2 px-3 border border-blue-500 rounded-md hover:text-blue-500 hover:bg-transparent hover:border-current transition-colors duration-300"
	>
		<IconSvg iconID="linkedin" iconSize="xs" />
		<span>linkedin</span>
	</a>

	<a
		href="https://github.com/puriihuaman"
		target="_blank"
		rel="noopener"
		class="flex justify-center items-center gap-2 text-slate-50 bg-slate-800 py-2 px-3 border border-slate-800 rounded-md hover:text-slate-50 hover:bg-transparent hover:border-current transition-colors duration-300"
	>
		<IconSvg iconID="github" iconSize="xs" />
		<span>Github</span>
	</a>
</div>
