.dropdown {
	display: flex;
	justify-content: center;
	// gap: var(--space-8);
	margin-right: auto;
	width: var(--sizes-full);
	color: currentColor;
	fill: currentColor;
	// padding-bottom: var(--space-8);
	// background-color: red;
}

.content {
	position: relative;
	display: flex;
	align-items: center;
	gap: var(--space-2);
	width: var(--sizes-full);
	height: auto;
	padding-right: var(--space-2);
	border-radius: var(--radii-md);
	cursor: pointer;
	box-shadow: var(--shadow-md);
	border: 1px solid var(--colors-gray-800);
	user-select: none;
}

.search {
	position: relative;
	display: block;
	width: var(--sizes-full);
	text-transform: capitalize;
	padding: var(--space-3) var(--space-4);
	outline: none;
	font-family: inherit;
	font-style: inherit;
	border-radius: var(--radii-md);
	background-color: transparent;
	cursor: pointer;
	// border: 1px solid currentColor;
	border: none;
	color: white;

	&::placeholder {
		font-size: var(--fontSizes-sm);
		color: var(--colors-gray-500);
	}
}

.options {
	--max-height: 200px;
	position: absolute;
	top: var(--sizes-full);
	left: 0;
	z-index: var(--zIndices-docked);
	width: var(--sizes-full);
	max-height: var(--max-height);
	color: var(--colors-gray-50);
	padding: var(--space-2);
	list-style: none;
	background-color: var(--colors-gray-800);
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid var(--colors-gray-800);
	border-radius: var(--radii-md);
	text-transform: capitalize;
	margin-top: var(--space-2);

	transition:
		var(--transition-property-common),
		var(--transition-duration-300) var(--transition-easing-ease-in-out);
}

.option {
	padding: var(--space-2);
	border-bottom: 1px solid var(--colors-gray-800);
	transition:
		var(--transition-property-common),
		var(--transition-duration-300) var(--transition-easing-ease-in-out);

	&:is(:hover) {
		color: var(--colors-blue-500);
		background: linear-gradient(
			to right,
			var(--colors-gray-800),
			var(--colors-gray-900)
		);
	}
}

.rotate,
.no-rotate {
	transform-origin: center;
	transition:
		var(--transition-property-common),
		var(--transition-duration-300) var(--transition-easing-ease-in-out);
}
.rotate {
	transform: rotate(0deg);
}
.no-rotate {
	transform: rotate(90deg);
}

.invisible {
	transform: translateY(0);
	visibility: hidden;
	opacity: 0;
}
.visible {
	visibility: visible;
	opacity: 1;
	transform: translateY(5%);
}
