---
import Avatar from "./Avatar.astro";
import Navigation from "./Navigation.astro";
import TheWelcome from "./TheWelcome.astro";
---

<header class="max-h-screen lg:flex lg:justify-center lg:items-center lg:pr-10">
	<Avatar />

	<div class="lg:flex lg:items-start lg:justify-items-start lg:flex-wrap">
		<TheWelcome />

		<Navigation />
	</div>
</header>
