---
import Avatar from "./Avatar.astro";
import Navigation from "./Navigation.astro";
import TheWelcome from "./TheWelcome.astro";
---

<style>
	.header {
		max-height: 100vh;
	}

	.header-content {
		@media (width >= 1024px) {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
	}
</style>

<header class="header">
	<Avatar />

	<div class="header-content">
		<TheWelcome />

		<Navigation />
	</div>
</header>
