---
import Contact from "./Contact.astro";
---

<section class="bg-[url(/assets/images/webp/hero.webp)] bg-center bg-no-repeat bg-origin-border bg-clip-border bg-blend-multiply bg-fixed bg-zinc-900/60">
  <div class="max-w-5xl mx-auto px-4">
    <section
      class="min-h-screen relative z-10 flex flex-col items-center justify-center gap-4 h-full text-center px-4">
      <div>
        <h1 class="text-4xl md:text-6xl font-bold text-zinc-50 text-shadow mt-10">Pedro
          Purihuaman</h1>
        <p class="notranslate mt-5 text-xl font-bold">
          Desarrollador Back End / Desarrollo de Software
        </p>

        <p class="text-sm md:text-xl text-zinc-400 mx-auto max-w-sm md:max-w-xl mt-4">
          Desarrollando el núcleo robusto y escalable de tu aplicación con
          tecnología moderna y alto rendimiento.
        </p>
      </div>

      <Contact/>
    </section>
  </div>
</section>
