---
type IconSize = "xs" | "sm" | "md" | "lg";

const iconSizes: Record<IconSize, string> = {
	xs: "w-5 h-5",
	sm: "w-7 h-7",
	md: "w-9 h-9",
	lg: "w-12 h-12",
};

interface Props {
	iconID: string;
	iconSize?: IconSize;
}

const path = "/assets/icons/svg-icons.svg#";

const { iconID, iconSize = "sm" } = Astro.props;

const sizeClass: string = iconSizes[iconSize] || iconSizes["sm"];
---

<span class="flex justify-center items-center">
	<svg class={`block text-current fill-current ${sizeClass}`}>
		<use href={path + iconID}></use>
	</svg>
</span>
