---
type IconSize = 'xs' | 'sm' | 'md' | 'lg';

const iconSizes: Record<IconSize, string> = {
	xs: 'w-4 h-4',
	sm: 'w-6 h-6',
	md: 'w-8 h-8',
	lg: 'w-12 h-12',
};

interface Props {
	iconID: string;
	iconSize?: IconSize;
}

const path = '/assets/icons/svg-icons.svg#';

const { iconID, iconSize = 'sm' } = Astro.props;

const sizeClass = iconSizes[iconSize] || iconSizes['sm'];
---

<span class="flex justify-center items-center">
	<svg class={`block text-current fill-current ${sizeClass}`}>
		<use href={path + iconID}></use>
	</svg>
</span>
