---
type IconSize = "xs" | "sm" | "md" | "lg";

const iconSizes: Record<IconSize, string> = {
	xs: "xs",
	sm: "sm",
	md: "md",
	lg: "lg",
};

interface Props {
	iconID: string;
	iconSize?: IconSize;
}

const path = "/assets/icons/svg-icons.svg#";

const { iconID, iconSize = "xs" } = Astro.props;

const sizeClass: string = iconSizes[iconSize] || iconSizes["xs"];
---

<style></style>

<span class="icon">
	<svg class={`${sizeClass}`}>
		<use href={path + iconID}></use>
	</svg>
</span>
