---
import { Icon } from "astro-icon/components";

interface Props {
	href: string;
	iconId: string;
	linkClass: string;
	title: string;
}

const { href, iconId, linkClass, title } = Astro.props;
---

<style lang="scss">
	.link {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--dark-200);
		color: var(--dark-200);
		gap: var(--space-2);
		padding: var(--space-2) var(--space-3);
		border-radius: var(--radii-md);
		transition: var(--transition-property-common),
			var(--transition-easing-ease-in-out), var(--transition-duration-500);

		&:hover {
			border-color: var(--dark-200);
			background-color: var(--dark-100);
		}

		& svg {
			width: auto;
		}
	}

	.linkedin,
	.github {
		overflow: hidden;
		overflow: hidden;
		min-width: 100px;
		max-width: 160px;
		width: 100%;

		&:hover {
			background-color: transparent;
		}
	}

	.linkedin {
		color: light-dark(var(--dark-50), var(--dark-950));
		background-color: var(--blue-500);
		border-color: var(--blue-500);

		&:hover {
			color: var(--blue-600);
			border-color: currentColor;
		}
	}
	.github {
		background-color: var(--dark-100);
		color: var(--dark-950);
	}
</style>

<a
	href={href}
	target="_blank"
	rel="noopener"
	class="link"
	class:list={linkClass}
>
	<span class="link-title">{title}</span>
	<Icon name={iconId} />
</a>
