.loading {
	padding: var(--space-4);
	color: var(--primary-400);
	background-color: var(--primary-950);
	text-align: center;
	border: 1px solid currentColor;
	border-radius: var(--radii-md);
	box-shadow: var(--shadow-md);
}
