.loading {
	padding: var(--space-4);
	border: 1px solid currentColor;
	border-radius: var(--radii-md);
	box-shadow: var(--shadow-md);
	text-align: center;
	color: var(--colors-blue-300);
	background-color: var(--colors-blue-950);

	&__message {
		font-size: var(--fontSizes-sm);
	}
}
