---
import { LINKS_LIST } from '@data/links-list';
import type { ILink } from '@interfaces/ILink';

const { pathname } = Astro.url;
---

<nav
	class="flex justify-center items-center flex-wrap text-center w-full max-w-fit mx-auto mt-8 lg:text-left lg:ml-auto lg:mt-4 lg:py-4"
>
	{
		LINKS_LIST.map((link: ILink): any => (
			<a
				href={link.href}
				class={`flex-1 flex justify-center items-center py-2 px-4 border-l first-of-type:border-none border-slate-800 hover:bg-blue-900 active:text-blue-500 transition-colors duration-300 ${pathname === link.pathname ? 'text-blue-500 font-heading hover:text-slate-50' : ''}`}
			>
				{link.name}
			</a>
		))
	}
</nav>
