---
import { MENU_LIST } from "@data/menus";
import type { Menu } from "@interfaces/menu";
import "./navigation.css";

const { pathname } = Astro.url;
---

<nav class="navegation">
	{
		MENU_LIST.map((link: Menu): any => (
			<a
				href={link.href}
				class={`navegation-item ${pathname === link.pathname ? "active" : ""}`}
				transition:animate="fade"
			>
				{link.name}
			</a>
		))
	}
</nav>
