.project-card {
    height: fit-content;
    background-color: var(--dark-50);
    border: 1px solid var(--dark-100);
    border-radius: var(--radii-lg);
    box-shadow: var(--shadow-md);
    overflow: hidden;

    & p a {
        display: inline;
        color: var(--primary-500);

        &:hover {
            color: var(--primary-600);
        }
    }

    & a {
        display: block;
    }

    & img {
        aspect-ratio: 16 / 9;
    }
}

.project-card-container {
    display: flex;
    flex-direction: column;
    padding: var(--space-4) var(--space-6) 0;

    & h3,
    & .project-card-title {
        text-transform: capitalize;
        font-size: var(--fontSizes-xl);
        font-weight: var(--font-weight-semibold);
    }

    & ul {
        margin-top: var(--space-4);
        margin-bottom: var(--space-4);
        text-transform: capitalize;

        & li {
            display: flex;
            align-items: start;
            gap: var(--space-2);
            padding-left: var(--space-2);
            color: var(--dark-600);

            &::before {
                content: "";
                display: block;
                width: var(--sizes-2);
                height: var(--sizes-2);
                border-radius: var(--radii-full);
                background: var(--primary-600);
                margin-top: var(--space-2);
            }
        }
    }
}

.project-card-date {
    font-size: var(--fontSizes-sm);
    color: var(--dark-600);
}

.project-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-2);
    margin-top: auto;
    padding: var(--space-4) var(--space-6) var(--space-4);

    & a,
    & p a {
        display: inline;
        color: var(--primary-950);
        font-size: var(--fontSizes-sm);
        background-color: var(--primary-500);
        padding: var(--space-1) var(--space-2);
        border-radius: var(--radii-lg);
        transition: var(--transition-property-colors),
        var(--transition-easing-ease-in-out), var(--transition-duration-300);

        &:hover {
            background-color: var(--primary-600);
            color: var(--primary-950);
        }
    }
}
