.card-project {
	position: relative;
	height: var(--sizes-full);
	text-align: center;
	overflow: hidden;
	box-shadow: var(--shadow-md);
	border-radius: var(--radii-md);
	transition: var(--transition-property-common),
		var(--transition-easing-ease-in-out), var(--transition-duration-300);

	&.java {
		background: linear-gradient(
			226.31deg,
			rgba(231, 111, 0, 0.1) 7.43%,
			rgba(83, 130, 161, 0.1) 87.88%
		);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	&.angular {
		background: linear-gradient(
			226.31deg,
			rgba(195, 0, 47, 0.05) 7.43%,
			rgba(195, 0, 47, 0.2) 87.88%
		);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}
	&.react {
		background: linear-gradient(
			226.31deg,
			rgba(10, 34, 97, 0.1) 7.43%,
			rgba(10, 34, 97, 0.3) 87.88%
		);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}
	&.default {
		background: linear-gradient(
			226.31deg,
			rgba(24, 24, 27, 0.8) 7.43%,
			rgba(24, 24, 27, 0.3) 87.88%
		);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}
	& .card-container {
		display: flex;
		flex-direction: column;
		row-gap: var(--space-4);
		padding: var(--space-6);
		height: var(--sizes-full);

		@media (width >= 768px) {
			padding: var(--space-8);
		}
	}
}

.card-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--space-3);

	& .card-header {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: var(--space-2);
		flex: 1;

		@media (width >= 640px) {
			flex-wrap: nowrap;
		}
	}

	& .card-demo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: var(--sizes-8);
		height: var(--sizes-8);
		text-align: center;
		overflow: hidden;
		box-shadow: var(--shadow-md);
		border: 1px solid var(--gray-800);
		border-radius: var(--radii-full);
	}

	& .card-title {
		font-family: var(--heading-font);
		font-size: var(--fontSizes-xl);
		width: var(--sizes-full);
		text-transform: capitalize;
		text-wrap: nowrap;

		@media (width >= 768px) {
			width: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}

	& .card-links {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: var(--space-2);
		width: var(--sizes-full);

		@media (width >= 640px) {
			width: auto;
			justify-content: space-between;
		}
	}

	& .link,
	& .github {
		--scale: 1;
		color: var(--gray-300);

		transform: scale(var(--scale));
		transition: var(--transition-property-common),
			var(--transition-easing-ease-in-out), var(--transition-duration-300);
		&:hover {
			--scale: 0.9;
			color: var(--persian-blue-500);
		}

		& svg {
			width: var(--sizes-5);
			height: var(--sizes-5);
		}
	}
}

.card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--space-2);
	margin-top: auto;
}

.card-date {
	display: flex;
	align-items: center;
	column-gap: var(--space-2);
	font-size: var(--fontSizes-sm);
	color: var(--gray-400);
}

.card-icon {
	flex: 0;
	display: flex;
	align-items: center;
	column-gap: var(--space-2);
	height: auto;
	& svg {
		width: var(--sizes-5);
		height: var(--sizes-5);
	}
}
