---
import type { IService } from '@interfaces/IService';
import IconSvg from './IconSvg.astro';

interface Props {
	service: IService;
}

const { service } = Astro.props;
---

<article
	class="_card flex self-start gap-2 text-center p-4 border border-blue-950 shadow-md rounded-md"
>
	<div
		class="_card__picture inline-block mx-auto p-2 rounded-md text-slate-400"
	>
		<IconSvg iconID={service.iconId} iconSize="md" />
	</div>

	<div class="_card__content text-left text-slate-200">
		<h3 class="_card__title font-heading text-xl capitalize mb-2">
			{service.title}
		</h3>

		<p>{service.description}</p>
	</div>
</article>
