---
import type { IService } from "@interfaces/IService";
import IconSvg from "./IconSvg.astro";

interface Props {
	service: IService;
}

const { service } = Astro.props;
---

<article
	class="flex self-start gap-2 text-center p-4 border border-slate-900 shadow-md rounded-md"
>
	<div class="inline-block mx-auto p-2 rounded-md text-slate-400">
		<IconSvg iconID={service.iconId} iconSize="md" />
	</div>

	<div class="text-left text-slate-200">
		<h3 class="font-heading text-xl capitalize mb-2">
			{service.title}
		</h3>

		<p class="text-slate-300">{service.description}</p>
	</div>
</article>
