---
import { Icon } from "astro-icon/components";
import type { Skill } from "@models/skill";
import type { TechnologyTag } from "@models/technology-tag";

interface Props {
  technologyType: TechnologyTag;
  skills: Skill[];
}

const { technologyType, skills } = Astro.props;
---

<div class="space-y-4">
  <h3 class="font-semibold capitalize text-xl text-zinc-200">
    {technologyType === "tool" ? "Herramientas" : technologyType}
  </h3>

  <ul class="grid grid-cols-[repeat(auto-fit,minmax(60px,1fr))] gap-4">
    {
      skills.map((link: Skill) => (
        <li>
          <a
            href={link.href}
            target="_blank"
            rel="noopener noreferrer"
            title="Documentación"
            class="flex justify-between items-center w-full px-3 py-2 gap-2 bg-zinc-900 shadow rounded-lg border border-zinc-800"
          >
            <Icon name={link.icon} class="w-6 h-6" />
            <span class="text-sm text-nowrap">{link.title}</span>
          </a>
        </li>
      ))
    }
  </ul>
</div>
