.technologies {
  --cells: 2 / -1;
  /* grid-row: var(--cells);
  grid-column: var(--cells); */

  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
}

.technology {
  position: relative;
  --gradient: rgba(20, 132, 255, 0.1);
  --shadow: 0px 3px 10px var(--gradient);
  border-radius: var(--radii-md);
  transition: var(--transition-property-common),
    var(--transition-easing-ease-in-out), var(--transition-duration-300);
  background: var(--gradient);
  box-shadow: var(--shadow);

  &:hover {
    --gradient: rgba(168, 85, 247, 0.1);
    & .technology-text {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -180%);
    }
  }
  &:nth-child(3) {
    color: var(--gray-950);
  }
}

.technology-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-2);
  overflow: hidden;
  box-shadow: var(--shadow);
  border-radius: var(--radii-md);
}

.technology-icon {
  width: var(--sizes-8);
  height: var(--sizes-8);
}

.technology-text {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: var(--fontSizes-xs);
  text-wrap: nowrap;
  color: var(--white);
  background: var(--persian-blue-500);
  padding: var(--space-0-5) var(--space-1-5);
  border-radius: var(--radii-full);
  transform: translate(-50%);
  transform-origin: center;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-property-common),
    var(--transition-easing-ease-in-out), var(--transition-duration-300);
}
