---
import Contact from './Contact.astro';
---

<div class="font-heading text-center lg:text-left">
	<h1
		class="relative -top-3 text-4xl md:text-5xl bg-clip-text text-transparent bg-gradient-to-br from-blue-500 to-cyan-500"
	>
		Desarrollador Backend
	</h1>
	<h2 class="text-3xl md:text-4xl">Pedro Purihuaman</h2>

	<Contact />
</div>
