---
import IconSvg from "./IconSvg.astro";

interface Props {
	iconID: string;
}
const { iconID } = Astro.props;
---

<article class="relative flex gap-4 mt-8 lg:gap-8 lg:mt-0 lg:py-2">
	<div
		class="_icons flex justify-center items-center w-full max-w-8 max-h-8 text-slate-400 lg:max-w-12 lg:max-h-12 lg:border lg:border-slate-800 lg:bg-slate-900 lg:rounded-lg"
	>
		<IconSvg iconID={iconID} iconSize="sm" />
	</div>

	<div class="flex-1">
		<h3 class="font-heading text-xl mb-2 text-slate-50">
			<slot name="heading" slot="heading" />
		</h3>

		<p class="text-slate-300">
			<slot name="description" slot="description" />
		</p>

		<slot name="others" slot="others" />
	</div>
</article>
