.services {
	padding-top: var(--space-8);
	min-height: 100vh;

	& h2 {
		font-family: var(--heading-font);
		font-size: var(--fontSizes-xl);
		margin-bottom: var(--space-1);
		width: fit-content;
		text-transform: uppercase;

		@media (width >=768px) {
			font-size: var(--fontSizes-2xl);
		}

		@media (width >=1024px) {
			font-size: var(--fontSizes-3xl);
		}
	}

	& hr {
		background-color: var(--persian-blue-500);
		animation: animation-rule 4s linear infinite alternate;
	}
}

@keyframes animation-rule {
	from {
		width: 0;
	}

	to {
		width: 200px;
	}
}

.service-gallery {
	padding-top: var(--space-8);
	--columns: 1;
	display: grid;
	grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
	gap: var(--space-8);

	@media (width >=1024px) {
		--columns: 2;
	}
}

.card {
	// display: grid;
	// grid-template-columns: auto 1fr;
	// grid-template-rows: repeat(2, auto);
	// column-gap: var(--space-2);
	// padding: var(--space-4);
	// border-radius: var(--radii-md);
	// background-color: rgb(20, 132, 255, 0.06);
	// box-shadow: 0px 3px 15px rgb(20, 132, 255, 0.06);
	// transition: var(--transition-property-common),
	// 	var(--transition-easing-ease-in-out), var(--transition-duration-200);
	// background-color: red;

	& h3 {
		// grid-row: span 1;
		// grid-column: 2 / -1;
		// font-family: var(--heading-font);
		// font-size: var(--fontSizes-xl);
		// text-transform: capitalize;
		// text-align: left;
		// margin-top: var(--space-1);
	}

	& p {
		// grid-column: 2 / -1;
		// color: var(--gray-800);
	}
}

.card-icon {
	// grid-row: span 1;
	// display: flex;
	// justify-content: center;

	// color: var(--gray-400);
	// width: 100%;
	// height: 100%;
	// font-size: var(--fontSizes-3xl);
}