// + /* --------------- Font family --------------- */

// /*
// :root {
// 	$heading-font-path: "/assets/fonts/Inter-Bold";
// 	$main-font-path: "/assets/fonts/Manrope-Regular";

// 	@font-face {
// 		font-family: "Inter";
// 		font-weight: bold;
// 		font-display: swap;
// 		src:
// 			local("Inter"),
// 			url("#{$heading-font-path}.woff2") format("woff2"),
// 			url("#{$heading-font-path}.woff") format("woff"),
// 			url("#{$heading-font-path}.ttf") format("truetype");
// 	}

// 	@font-face {
// 		font-family: "Manrope";
// 		font-weight: 400;
// 		font-display: swap;
// 		src:
// 			local("Manrope"),
// 			url("#{$main-font-path}.woff2") format("woff2"),
// 			url("#{$main-font-path}.woff") format("woff"),
// 			url("#{$main-font-path}.ttf") format("truetype");
// 	}

// 	--heading-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
// 		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
// 		"Segoe UI Symbol";

// 	--main-font: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
// 		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
// 		"Segoe UI Symbol";
// }
// */

:root {
	$SpaceGrotesk-fonts: (
		700: "/assets/fonts/SpaceGrotesk-Bold",
		600: "/assets/fonts/SpaceGrotesk-SemiBold",
		400: "/assets/fonts/SpaceGrotesk-Regular",
	);

	@each $weight, $path in $SpaceGrotesk-fonts {
		@font-face {
			font-family: "SpaceGrotesk";
			font-weight: $weight;
			font-display: swap;
			src:
				local("SpaceGrotesk"),
				url("#{$path}.woff2") format("woff2"),
				url("#{$path}.woff") format("woff"),
				url("#{$path}.ttf") format("truetype");
		}
	}

	--heading-font: "SpaceGrotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";

	--main-font: var(--heading-font);
	--font-weight-bold: 700;
	--font-weight-semibold: 600;
	--font-weight-normal: 400;
}
